@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --code-syntax-3: var(--code-syntax3);
}

:root {
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(10, 10, 10, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(10, 10, 10, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(10, 10, 10, 1);
  --primary: rgba(93, 175, 80, 1);
  --primary-foreground: rgba(255, 245, 245, 1);
  --secondary: rgba(245, 245, 250, 1);
  --secondary-foreground: rgba(25, 25, 25, 1);
  --muted: rgba(245, 245, 250, 1);
  --muted-foreground: rgba(118, 118, 118, 1);
  --accent: rgba(245, 245, 250, 1);
  --accent-foreground: rgba(25, 25, 25, 1);
  --destructive: rgba(204, 51, 51, 1);
  --destructive-foreground: rgba(250, 250, 250, 1);
  --border: rgba(230, 230, 230, 1);
  --input: rgba(230, 230, 230, 1);
  --ring: rgba(93, 175, 80, 1);
  --radius: 0.5rem;
  --code-syntax1: rgba(255, 51, 153, 1);
  --code-syntax2: rgba(51, 102, 255, 1);
  --code-syntax3: rgba(255, 204, 51, 1);
  --code-comment: rgba(153, 153, 153, 1);
}

.dark {
  --background: rgba(10, 10, 10, 1);
  --foreground: rgba(245, 245, 245, 1);
  --card: rgba(40, 40, 40, 1);
  --card-foreground: rgba(245, 245, 245, 1);
  --popover: rgba(25, 25, 25, 1);
  --popover-foreground: rgba(245, 245, 245, 1);
  --primary: rgba(80, 160, 100, 1);
  --primary-foreground: rgba(10, 200, 25, 1);
  --secondary: rgba(40, 40, 60, 1);
  --secondary-foreground: rgba(250, 250, 250, 1);
  --muted: rgba(40, 40, 40, 1);
  --muted-foreground: rgba(165, 165, 165, 1);
  --accent: rgba(50, 40, 40, 1);
  --accent-foreground: rgba(250, 250, 250, 1);
  --destructive: rgba(150, 50, 50, 1);
  --destructive-foreground: rgba(250, 245, 245, 1);
  --border: rgba(40, 40, 60, 1);
  --input: rgba(40, 40, 60, 1);
  --ring: rgba(80, 160, 100, 1);
  --code-syntax1: rgba(255, 51, 153, 1);
  --code-syntax2: rgba(51, 102, 255, 1);
  --code-syntax3: rgba(255, 204, 51, 1);
  --code-comment: rgba(153, 153, 153, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
